<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/branch.css">
    <link rel="stylesheet" href="/assets/branchstyle.css">
    <link rel="stylesheet" href="/assets/askfortt.css">
    <title>Branches</title>
</head>
<body>
    <header class="tt">
        <a href="#" class="logo">Teacher's Desk</a>
        <img class="tt_logo2" src = "/assets/manipal_logo.png" alt="manipal_logo"></img>
        <div class="toggle">
        </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home/time_table">Time Table</a></li>
                <li><a href="/Prefrences">Prefrences</a></li>
                <li><a href="/Notes">Notes</a></li>
                <li><a href="/Attainment">Attainment</a></li>
                <li><a href="/">Logout</a></li>
                
            </ul>
    </header>
    <div class="container">
        <h3>Select the Department</h3>
        <div class="frame">
          <button class="custom-btn btn-1">Chemical</button>
          <button class="custom-btn btn-2">Civil</button>
          <button class="custom-btn btn-3"><span><a href = "/home/time_table/askfortt">ICT</a></span></button>
          <button class="custom-btn btn-4"><span>Electrical</span></button>
          <button class="custom-btn btn-5"><span>Mechanical</span></button>

        </div>
    </div>
</body>
</html>