<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=54, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="/assets/wlcome_style.css">
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap"
      rel="stylesheet"
    />
</head>
<body>
    <div class="container">
        <label for="chk" aria-hidden="true">Change Password</label>
        <form action="/change" method="POST">
            <div class="formgroup" style="text-align: center;">
                <input type="password" placeholder="Enter new Password" name="cnfpass1" style="text-align: center;" >
            </div><br>
            <div class="formgroup" style="text-align: center;">
                <input type="password" placeholder="Confirm New password" name="cnfpass2" style="text-align: center;">
            </div><br>
            <div class="formgroup" style="text-align: center;">
                <button type="submit" class="btn" style="text-align: center;">Proceed</button>
            </div><br> 
            <div class="alert">
                <p><%= msg %></p>
            </div>
        </form>
    </div>
</body>
</html>