<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>View_Time_Table</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/first_style.css">
</head>
<body>
    <img class="tt_logo2" src = "/assets/manipal_logo.png" alt="manipal_logo"></img>
    <div class="container" style="text-align: center;"><br>
        <div class="topcontent">
            <h1>DEPARTMENT OF INFORMATION AND COMMUNICATION TECHNOLOGY</h1>
            <h2 class="text-center display-4">Time Table</h2>
            <h3>LECTURE HALL<label id="roomno"></label></h3>
            <h4>SEMESTER AND SECTION<p id="section" name="section"><%=p1 %></p></h4>
        </div>
        <div class="row">
            <h6 class="col-1 border"></h6>
            <h6 class="col-1 border">08:00-09:00</h6>
            <h6 class="col-1 border">09:00-10:00</h6>
            <h6 class="col-1 border">10:00-10:30</h6>
            <h6 class="col-1 border">10:30-11:30</h6>
            <h6 class="col-1 border">11:30-12:30</h6>
            <h6 class="col-1 border">12:30-01:00</h6>
            <h6 class="col-1 border">01:00-02:00</h6>
            <h6 class="col-1 border">02:00-03:00</h6>
            <h6 class="col-1 border">03:00-03:30</h6>
            <h6 class="col-1 border">03:30-04:30</h6>
            <h6 class="col-1 border">04:30-05:30</h6>
        </div>
        <div class="row">
            <div class="col-1 border" id="day">MONDAY</div>
            <div class="col-6-3qtr border">Empty</div>
            <div class="col border">
                <div id="l1-1">LAB-1-1</div>
                <div id="l1-2">LAB-1-2</div>
            </div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col-1 border" id="s1-1">09:00-10:00</div>
            <div class="col-1 border" id="s2-1">10:00-10:30</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s3-1">08:00-09:00</div>
            <div class="col-1 border" id="s4-1">08:00-09:00</div>
        </div>
        <div class="row">
            <div class="col-1 border" id="day">TUESDAY</div>
            <div class="col-1 border" id="s5-1">08:00-09:00</div>
            <div class="col-1 border" id="s6-1">09:00-10:00</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s1-2">10:30-11:30</div>
            <div class="col-1 border" id="s2-2">11:30-12:30</div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col border">
                <div id="l2-1">LAB-2-1</div>
                <div id="l2-2">LAB-2-2</div>
            </div>
            <div class="col-6-3qtr border">Empty</div>
        </div>
        <div class="row">
            <div class="col-1 border" id="day">WEDNES-DAY</div>
            <div class="col-6-3qtr border">Empty</div>
            <div class="col border">
                <div id="l3-1">LAB-3-1</div>
                <div id="l3-2">LAB-3-2</div>
            </div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col-1 border" id="s3-2">09:00-10:00</div>
            <div class="col-1 border" id="s4-2">10:00-10:30</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s5-2">08:00-09:00</div>
            <div class="col-1 border" id="s6-2">08:00-09:00</div>
        </div>
        <div class="row">
            <div class="col-1 border" id="day">THURS-DAY</div>
            <div class="col-1 border" id="s1-3">08:00-09:00</div>
            <div class="col-1 border" id="s2-3">09:00-10:00</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s3-3">10:30-11:30</div>
            <div class="col-1 border" id="s4-3">11:30-12:30</div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col border">
                <div id="l4-1">LAB-4-1</div>
                <div id="l4-2">LAB-4-2</div>
            </div>
            <div class="col-6-3qtr border">Empty</div>
        </div>
        <div class="row">
            <div class="col-1 border" id="day">FRIDAY</div>
            <div class="col-6-3qtr border">Empty</div>
            <div class="col border">
                <div id="l5-1">LAB-5-1</div>
                <div id="l5-2">LAB-5-2</div>
            </div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col-1 border" id="s5-3">09:00-10:00</div>
            <div class="col-1 border" id="s6-3">10:00-10:30</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s1-4">08:00-09:00</div>
            <div class="col-1 border" id="s2-4">08:00-09:00</div>
        </div>
        <div class="row">
            <div class="col-1 border" id="day">SATUR-DAY</div>
            <div class="col-1 border" id="s3-4">08:00-09:00</div>
            <div class="col-1 border" id="s4-4">09:00-10:00</div>
            <div class="col-1 border">BREAK</div>
            <div class="col-1 border" id="s5-4">10:30-11:30</div>
            <div class="col-1 border" id="s6-4">11:30-12:30</div>
            <div class="col-2 border">LUNCH BREAK</div>
            <div class="col border">
                <div id="l6-1">LAB-6-1</div>
                <div id="l6-2">LAB-6-2</div>
            </div>
            <div class="col-6-3qtr border">Empty</div>
        </div>
    </div>
    <br>
    <table border="1" style="text-align: center; align-items: center;">
        <thead>
            <tr>
                <th>SUBJECT</th>
                <th>TEACHER</th>
                <th>-SHORT</th>
                <th>SUBJECT</th>
                <th>TEACHER</th>
                <th>-SHORT</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><label id="s1"></label></td>
                <td><label id="t1"></label></td>
                <td><label id="st1"></label></td>                
                <td><label id="l1"></label></td>
                <td><label id="lt1"></label><br><label id="lt1_2"></label></td>
                <td><label id="slt1"></label><br><label id="slt1_2"></label></td>
                
            </tr>
            <tr>
                <td><label id="s2"></label></td>
                <td><label id="t2"></label></td>
                <td><label id="st2"></label></td>
                <td><label id="l2"></label></td>
                <td><label id="lt2"></label><br><label id="lt2_2"></label></td>
                <td><label id="slt2"></label><br><label id="slt2_2"></label></td>
                
            </tr>
            <tr>
                <td><label id="s3"></label></td>
                <td><label id="t3"></label></td>
                <td><label id="st3"></label></td>
                <td><label id="l3"></label></td>
                <td><label id="lt3"></label><br><label id="lt3_2"></label></td>
                <td><label id="slt3"></label><br><label id="slt3_2"></label></td>
            </tr>
            <tr>
                <td><label id="s4"></label></td>
                <td><label id="t4"></label></td>
                <td><label id="st4"></label></td>
                <td><label id="l21"></label></td>
                <td><label id="lt21"></label><br><label id="lt21_2"></label></td>
                <td><label id="slt21"></label><br><label id="slt21_2"></label></td>
                
            </tr>
            <tr>
                <td><label id="s5"></label></td>
                <td><label id="t5"></label></td>
                <td><label id="st5"></label></td>
                <td><label id="l22"></label></td>
                <td><label id="lt22"></label><br><label id="lt22_2"></label></td>
                <td><label id="slt22"></label><br><label id="slt22_2"></label></td>
            </tr>
            <tr>
                <td><label id="s6"></label></td>
                <td><label id="t6"></label></td>
                <td><label id="st6"></label></td>
                <td><label id="l23"></label></td>
                <td><label id="lt23"></label><br><label id="lt23_2"></label></td>
                <td><label id="slt23"></label><br><label id="slt23_2"></label></td>
            </tr>
        </tbody>
    </table>
    <button class="no-print" onclick="window.print()">DOWNLOAD</button>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const sub1 = document.getElementById('s1');
        const sub2 = document.getElementById('s2');
        const sub3 = document.getElementById('s3');
        const sub4 = document.getElementById('s4');
        const sub5 = document.getElementById('s5');
        const sub6 = document.getElementById('s6');
        const tr1 = document.getElementById('t1');
        const tr2 = document.getElementById('t2');
        const tr3 = document.getElementById('t3');
        const tr4 = document.getElementById('t4');
        const tr5 = document.getElementById('t5');
        const tr6 = document.getElementById('t6');
        const lab1 = document.getElementById('l1');
        const lab2 = document.getElementById('l2');
        const lab3 = document.getElementById('l3');
        const labb1 = document.getElementById('l21');
        const labb2 = document.getElementById('l22');
        const labb3 = document.getElementById('l23');
        const tlab1 = document.getElementById('lt1');
        const tlab1_2 = document.getElementById('lt1_2');
        const tlab2 = document.getElementById('lt2');
        const tlab2_2 = document.getElementById('lt2_2');
        const tlab3 = document.getElementById('lt3');
        const tlab3_2 = document.getElementById('lt3_2');
        const tlabb1 = document.getElementById('lt21');
        const tlabb2 = document.getElementById('lt22');
        const tlabb3 = document.getElementById('lt23');
        const tlabb1_2 = document.getElementById('lt21_2');
        const tlabb2_2 = document.getElementById('lt22_2');
        const tlabb3_2 = document.getElementById('lt23_2');
        const stlab1 = document.getElementById('slt1');
        const stlab1_2 = document.getElementById('slt1_2');
        const stlab2 = document.getElementById('slt2');
        const stlab2_2 = document.getElementById('slt2_2');
        const stlab3 = document.getElementById('slt3');
        const stlab3_2 = document.getElementById('slt3_2');
        const stlabb1 = document.getElementById('slt21');
        const stlabb2 = document.getElementById('slt22');
        const stlabb3 = document.getElementById('slt23');
        const stlabb1_2 = document.getElementById('slt21_2');
        const stlabb2_2 = document.getElementById('slt22_2');
        const stlabb3_2 = document.getElementById('slt23_2');

        const m1 = document.getElementById('s1-1');
        const m2 = document.getElementById('s2-1');
        const m3 = document.getElementById('s3-1');
        const m4 = document.getElementById('s4-1');
        const ml1 = document.getElementById('l1-1');
        const ml2 = document.getElementById('l1-2');

        const t1 = document.getElementById('s5-1');
        const t2 = document.getElementById('s6-1');
        const t3 = document.getElementById('s1-2');
        const t4 = document.getElementById('s2-2');
        const tl1 = document.getElementById('l2-1');
        const tl2 = document.getElementById('l2-2');

        const w1 = document.getElementById('s3-2');
        const w2 = document.getElementById('s4-2');
        const w3 = document.getElementById('s5-2');
        const w4 = document.getElementById('s6-2');
        const wl1 = document.getElementById('l3-1');
        const wl2 = document.getElementById('l3-2');

        const th1 = document.getElementById('s1-3');
        const th2 = document.getElementById('s2-3');
        const th3 = document.getElementById('s3-3');
        const th4 = document.getElementById('s4-3');
        const thl1 = document.getElementById('l4-1');
        const thl2 = document.getElementById('l4-2');

        const f1 = document.getElementById('s5-3');
        const f2 = document.getElementById('s6-3');
        const f3 = document.getElementById('s1-4');
        const f4 = document.getElementById('s2-4');
        const fl1 = document.getElementById('l5-1');
        const fl2 = document.getElementById('l5-2');

        const s1 = document.getElementById('s3-4');
        const s2 = document.getElementById('s4-4');
        const s3 = document.getElementById('s5-4');
        const s4 = document.getElementById('s6-4');
        const sl1 = document.getElementById('l6-1');
        const sl2 = document.getElementById('l6-2');

        const str1 = document.getElementById('st1');
        const str2 = document.getElementById('st2');
        const str3 = document.getElementById('st3');
        const str4 = document.getElementById('st4');
        const str5 = document.getElementById('st5');
        const str6 = document.getElementById('st6');

        const roomno = document.getElementById('roomno');

        const sec = document.getElementById('section');
        const text = sec.textContent;
        axios.get('/fetch',{
            params:{
                section:text
            }
        })
            .then(response=>{
                const options = response.data;
                m1.innerHTML=options[0].sub1;
                t3.innerHTML=options[0].sub1;
                th1.innerHTML=options[0].sub1;
                f3.innerHTML = options[0].sub1;
            
                m2.innerHTML = options[0].sub2;
                t4.innerHTML = options[0].sub2;
                th2.innerHTML = options[0].sub2;
                f4.innerHTML = options[0].sub2;

                m3.innerHTML = options[0].sub3;
                w1.innerHTML = options[0].sub3;
                th3.innerHTML = options[0].sub3;
                s1.innerHTML = options[0].sub3;

                m4.innerHTML = options[0].sub4;
                w2.innerHTML = options[0].sub4;
                th4.innerHTML = options[0].sub4;
                s2.innerHTML = options[0].sub4;

                t1.innerHTML = options[0].sub5;
                w3.innerHTML = options[0].sub5;
                f1.innerHTML = options[0].sub5;
                s3.innerHTML = options[0].sub5;

                t2.innerHTML = options[0].sub6;
                w4.innerHTML = options[0].sub6;
                f2.innerHTML = options[0].sub6;
                s4.innerHTML = options[0].sub6;

                if (options[0].lab11 != " () () LAB: ") {
                    ml1.innerHTML = options[0].lab11;
                } else {
                    ml1.innerHTML = "";
                }
               // ml1.innerHTML = options[0].lab11+" "+options[6].room_number;
                if (options[0].lab12 != " () () LAB: ") {
                    ml2.innerHTML = options[0].lab12;
                } else {
                    ml2.innerHTML = "";
                }
                //ml2.innerHTML = options[0].lab12+" "+options[6].room_number;
                if (options[0].lab21 != " () () LAB: ") {
                    tl1.innerHTML = options[0].lab21;
                } else {
                    tl1.innerHTML = "";
                }
                //tl1.innerHTML = options[0].lab21+" "+options[7].room_number;
                if (options[0].lab22 != " () () LAB: ") {
                    tl2.innerHTML = options[0].lab22 ;
                } else {
                    tl2.innerHTML = "";
                }
                //tl2.innerHTML = options[0].lab22+" "+options[7].room_number;
                if (options[0].lab31 != " () () LAB: ") {
                    wl1.innerHTML = options[0].lab31 ;
                } else {
                    wl1.innerHTML = "";
                }
                //wl2.innerHTML = options[0].lab32+" "+options[8].room_number;
                if (options[0].lab32 != " () () LAB: ") {
                    wl2.innerHTML = options[0].lab32;
                } else {
                    wl2.innerHTML = "";
                }
                //wl2.innerHTML = options[0].lab32+" "+options[8].room_number;
                if (options[0].lab41 != " () () LAB: ") {
                    thl1.innerHTML = options[0].lab41;
                } else {
                    thl1.innerHTML = "";
                }
                //thl1.innerHTML[9].room_number;
                if (options[0].lab42 != " () () LAB: ") {
                    thl2.innerHTML = options[0].lab42;
                } else {
                    thl2.innerHTML = "";
                }
                //thl2.innerHTML = options[0].lab42+" "+options[9].room_number;
                if (options[0].lab51 != " () () LAB: ") {
                    fl1.innerHTML = options[0].lab51 ;
                } else {
                    fl1.innerHTML = "";
                }
                //fl1.innerHTML = options[0].lab51+" "+options[10].room_number;
                if (options[0].lab52 != " () () LAB: ") {
                    fl2.innerHTML = options[0].lab52;
                } else {
                    fl2.innerHTML = "";
                }
                //fl2.innerHTML = options[0].lab52+" "+options[10].room_number;
                if (options[0].lab61 != " () () LAB: ") {
                    sl1.innerHTML = options[0].lab61;
                } else {
                    sl1.innerHTML = "";
                }
                //sl1.innerHTML = options[0].lab61+" "+options[11].room_number;
                if (options[0].lab62 != " () () LAB: ") {
                    sl2.innerHTML = options[0].lab62;
                } else {
                    sl2.innerHTML = "";
                }
                //sl2.innerHTML = options[0].lab62+" "+options[11].room_number;
            })
            .catch(error=>{
                console.error('Error :',error);
            })
        
        axios.get('/tcsub', {
            params: {
                section: text
            }
        })
            .then(response => {
                const options = response.data;
                roomno.innerHTML = "ROOM :"+options[0].room_number;
                sub1.innerHTML = options[0].subject_name;
                tr1.innerHTML = options[0].ename;
                sub2.innerHTML = options[1].subject_name;
                tr2.innerHTML = options[1].ename;
                sub3.innerHTML = options[2].subject_name;
                tr3.innerHTML = options[2].ename;
                sub4.innerHTML = options[3].subject_name;
                tr4.innerHTML = options[3].ename;
                sub5.innerHTML = options[4].subject_name;
                tr5.innerHTML = options[4].ename;
                sub6.innerHTML = options[5].subject_name;
                tr6.innerHTML = options[5].ename;
                lab1.innerHTML = options[6].subject_name+" LAB:("+options[6].room_number+")";
                tlab1.innerHTML = options[6].ename;
                tlab1_2.innerHTML = options[6].ename2;
                lab2.innerHTML = options[7].subject_name+" LAB:("+options[7].room_number+")";
                tlab2.innerHTML = options[7].ename;
                tlab2_2.innerHTML = options[7].ename2;
                lab3.innerHTML = options[8].subject_name+" LAB:("+options[8].room_number+")";
                tlab3.innerHTML = options[8].ename;
                tlab3_2.innerHTML = options[8].ename2;
                labb1.innerHTML = options[9].subject_name+" LAB:("+options[9].room_number+")";
                tlabb1.innerHTML = options[9].ename;
                tlabb1_2.innerHTML = options[9].ename2;
                labb2.innerHTML = options[10].subject_name+" LAB:("+options[10].room_number+")";
                tlabb2.innerHTML = options[10].ename;
                tlabb2_2.innerHTML = options[10].ename2;
                labb3.innerHTML = options[11].subject_name+" LAB:("+options[11].room_number+")";
                tlabb3.innerHTML = options[11].ename;
                tlabb3_2.innerHTML = options[11].ename2;
                axios.get('/conv', {
                    params: {
                        teacher: tr1.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        str1.innerHTML = options[0].value;
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                    axios.get('/conv', {
                    params: {
                        teacher: tr2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        str2.innerHTML = options[0].value
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tr3.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        str3.innerHTML = options[0].value
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tr4.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        str4.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tr5.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        str5.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tr6.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        str6.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlab1.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlab1.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlab1_2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlab1_2.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlab2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlab2.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlab2_2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlab2_2.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlab3.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlab3.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlab3_2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlab3_2.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlabb1.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlabb1.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlabb1_2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlabb1_2.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlabb2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlabb2.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlabb2_2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlabb2_2.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlabb3.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlabb3.innerHTML = options[0].value
                    
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                axios.get('/conv', {
                    params: {
                        teacher: tlabb3_2.textContent
                    }
                })
                    .then(response => {
                        const options = response.data;
                        stlabb3_2.innerHTML = options[0].value
                    })
                    .catch(error => {
                        console.error('Error :', error);
                    })
                })
            .catch(error => {
                console.error('Error :', error);
            })
    </script>
</body>
</html>

