<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fac load</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" integrity="sha384-tKLJeE1ALTUwtXlaGjJYM3sejfssWdAaWR2s97axw4xkiAdMzQjtOjgcyw0Y50KU" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/admin.css">
</head>
<body>
    <header class="tt">
        <a href="#" class="logo">Teacher's Desk</a>
        <img class="tt_logo2" src = "/assets/manipal_logo.png" alt="manipal_logo"></img>
        <div class="toggle">
        </div>
            <ul>
                <li><a href="/home">Home</a></li>
                <li><a href="/home/time_table">Time Table</a></li>
                <li><a href="/Prefrences">Prefrences</a></li>
                <li><a href="/Notes">Notes</a></li>
                <li><a href="/Attainment">Attainment</a></li>
                <li><a href="/">Logout</a></li>
                
            </ul>
    </header>
    <br><br><br>
    <br>

    <div class="container">
        <table border="1" id="factable">
          <thead>
            <tr>
              <th>FACULTY NAME</th>
              <th>THEORY</th>
              <th>LABS</th>
              <th>TOTAL</th>
            </tr>
          </thead>
          <tbody>
            <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        var x = [];
        var y = [];
        var theory=[];
        var lab=[];
        var workload=[]; 
        axios.get('/facloaddisp',{

        })
            .then(response=>{
                try{
                const options = response.data;
                options.forEach(option => {
                        Object.values(option).forEach(value => {
                            if(value==null){
                                
                            } 
                            else if(value.indexOf("0")==0){
                                x.push(0);
                            }
                            else if(value.includes("Lab")){
                                x.push(6);
                            }
                            else{
                                x.push(2);
                            }
                        });
                        y.push(x);
                        x = [];
                    })
                    var index=0;
                    y.forEach(field=>{
                        var a=0,b=0,c=0;
                        for(var i=2;i<62;i++){
                            if(field[i]==2){
                                a = a+2; //theory load
                                c = c+2; //total load
                            }
                            else if(field[i]==6){
                                b = b+6; //lab load
                                c = c+6; //total
                            }
                        }
                        theory.push(a);
                        lab.push(b);
                        workload.push(c);
                    })
                    console.log(theory);
                    console.log(lab);
                    console.log(workload);
                    
                }
                catch(Error){
                    console.error('Error: ',Error);
                }
            });
        const table = document.querySelector("#factable tbody");
        axios.get('/facloaddisp',{

        })
            .then(response=>{
                var cnt = 0;
                const options = response.data;
                options.forEach(option=>{
                    var row = document.createElement("tr");
                    var data = document.createElement("td");
                    var data2 = document.createElement("td");
                    var data3 = document.createElement("td");
                    var data4 = document.createElement("td");

                    data.textContent = option.name;
                    row.appendChild(data);
                    data2.textContent = theory[cnt];
                    row.appendChild(data2);
                    data3.textContent = lab[cnt];
                    row.appendChild(data3);
                    data4.textContent = workload[cnt];
                    row.appendChild(data4);
                    table.appendChild(row);
                    cnt++;
                })
            })
            .catch(error=>{
                console.log(error);
            })
        console.log(y);
    </script>
          </tbody>
        </table>
      </div>
      <button class="no-print" onclick="window.print()">DOWNLOAD</button>
      
      

    
</body>
</html>