@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Architects Daughter', cursive; */
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}
section{
    padding: 100px;
    background: url(pic3.jpg);
    opacity:80%;
}
header ul li a:hover{
    color: rgb(237, 158, 105);

}



.banner{
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-position: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background: url(bg.png);
    opacity: 70%; */
} 

.banner h2{
    font-size: 3em;
    color: #f47c3b;
    line-height: 1.5em;
    font-weight: 500;
    opacity: 100%;
}
.banner h2 span{
    font-size: 1.5em;
    font-weight: 700;
    
}
.banner h3{
    font-size: 1.5em;
    color: #000000;
    font-weight: 500;
}

h6{
    background-color: rgb(139, 179, 240);
}

div #day{
    background-color: rgb(244, 145, 47);
    border: 5px solid;
}

div #break{
    background-color: rgb(147, 140, 140);
    border: 5px solid;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    display: flex;
    transition: 0.5s;
    /* background-color: aliceblue; */
}

.tt_logo{
    height: 80px;
    width: 340px;
    float: left;
}

.tt_logo2 {
    width: 230px; /* Adjust the width as needed */
    margin-left: 120px;
  }

@media print {
    .no-print {
      display: none;
    }
}

.tt{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    padding: 40px 100px;
    z-index: 1000;
    align-items: center;
    justify-content: space-between;
    background: url(63.jpg);
    background-size: cover;
    display: flex;
    transition: 0.5s;
    /* background-color: aliceblue; */
}

header.sticky{
    background: #bc7878;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgb(0,0,0,0.1);
}

.row{
    height:5%;
}

.container{
    position:relative;
    margin-top:80px;
}

header .logo{
    color: #a64320;
    font-size: 26px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Stick No Bills', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
header.sticky .logo{
    color: #111;

}
header ul{
    position: relative;
    display: flex;

}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    display: inline-block;
    margin: 0px 15px;
    text-decoration: none;
    color: #c37106;
    font-size: 18px;
    
    

}
header.sticky ul li a{
    color: #111;
}
.heading{
    width: 100%;
    margin-bottom: 30px;
    color: #111;
    text-align: center;
}
.heading h2{
    font-weight: 600;
    font-size: 30px;
}
.content{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    padding: 20px;
}
.contentBx{
    padding-right: 30px;
}
.contentBx h3{
    font-size: 25px;
    margin-bottom: 10px;
}
.w50{
    min-width: 50%;
}

.services{
    background: #111;
}
.heading.white{
    color: #934e4e;

}
.heading .btn{
    border-radius: 20px;
    
    
}

/* #bgd{
    width: max-content;
    height: max-content;
} */